## 3.알코올을 가장 많이 마시는 나라는?

- country	: 국가명
- beer_servings : 맥주 소비량
- spirit_servings : 증류주 소비량(독주, 알코올 함량 20% 이상의 설탕을 첨가하지 않은 증류주)
- wine_servings : 와인 소비량
- total_litres_of_pure_alcohol : 순수 알코올
- continent : 대륙

In [2]:
# [2-0] 사용라이브러리 import
import pandas as pd

### 3-1. 파일 가져오기
csv 파일 가져오기 
- csv 파일은 컬럼 구분이 콤마(,) 로 이루어진 파일
- df = pd.read_csv(파일이름) : csv 형식의 파일을 읽어 DataFrame 객체로 가져옴
- DataFrame.to_csv(파일이름, index=True) : DataFrame을 csv 파일로 저장, index는 제외하고 저장하기 위해서는 index=False로 지정

In [4]:
# [2-1] drinks.csv 파일을 DataFrame으로 불러오기 합니다.
# 'NA' 를 NaN 으로 읽지 않기 위해 na_fileter=False를 사용합니다.
df = pd.read_csv('.\data_01\drinks.csv', na_filter=False)
df = df.to_csv('.\data_01\drinks_rev.csv', index=False)
df = pd.read_csv('.\data_01\drinks_rev.csv', na_filter=False)

In [5]:
# [2-2] df의 데이터 모습을 확인하기 위해 첫 5개 데이터를 출력합니다
df.head(5)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [6]:
# [2-3] df의 컬럼명을 한글로 변경합니다.
# ['국가', '맥주', '증류주', '와인', '알코올','대륙']
df.columns = ['국가', '맥주', '증류주', '와인', '알코올','대륙']

# 변경되었는지 확인합니다.
df.columns

Index(['국가', '맥주', '증류주', '와인', '알코올', '대륙'], dtype='object')

In [34]:
# [2-4] df의 row의 개수 및 각 column의 정보 및 메모리 사용량을 확인합니다.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국가      193 non-null    object
 1   맥주      193 non-null    int64
 2   증류주     193 non-null    int64
 3   와인      193 non-null    int64
 4   알코올     193 non-null    float64
 5   대륙      193 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB

In [38]:
# [2-5] 대륙의 종류를 알아봅니다
df['대륙'].unique()

array(['AS', 'EU', 'AF', 'NA', 'SA', 'OC'], dtype=object)

In [42]:
# [2-6] 대륙별 국가 개수를 알아봅니다.
df['대륙'].value_counts()

AF    53
EU    45
AS    44
NA    23
OC    16
SA    12
Name: 대륙, dtype: int64

### 3-3. 통계치 구하기
- DataFrame.describe() : 숫자형 데이터타입을 갖는 컬럼에 대해 count, mean, std, min, max, Q1, Q2, Q3 등의 통계값 구하기
- DataFrame.count() : 개수
- DataFrame.sum() : 합계
- DataFrame.mean() : 평균
- DataFrame.std() : 표준편차
- DataFrame.var() : 분산
- DataFrame.quantile() : 분위수
- DataFrame.함수(axis=1)을 사용하여 행별 통계값을 구할 수 있음
   - axis=0 : 기본값이며, 행을 이동하며, 행과 행의 연산을 수행함
   - axis=1 : 컬럼을 이동하며 컬럼과 컬럼의 연산을 수행함

In [43]:
# [2-13] describe 함수를 사용해 전세계 '맥주', '증류주', '와인', '알코올' 소비에 대한 통계치를 구해봅니다.
df.describe()

               맥주         증류주          와인         알코올
count  193.000000  193.000000  193.000000  193.000000
mean   106.160622   80.994819   49.450777    4.717098
std    101.143103   88.284312   79.697598    3.773298
min      0.000000    0.000000    0.000000    0.000000
25%     20.000000    4.000000    1.000000    1.300000
50%     76.000000   56.000000    8.000000    4.200000
75%    188.000000  128.000000   59.000000    7.200000
max    376.000000  438.000000  370.000000   14.400000

In [46]:
# [2-14] 전세계 '맥주', '증류주', '와인', '알코올'  소비에 대한 정보만 추출하여 df2로 지정합니다.
df2 = df[['맥주', '증류주', '와인', '알코올']]

In [47]:
# [2-15] 전세계 맥주, 증류주, 와인, 알코올의 소비에 대한 (df2) '평균'만 구해봅니다.
df2.mean()

맥주     106.160622
증류주     80.994819
와인      49.450777
알코올      4.717098
dtype: float64

In [48]:
# [2-16] 전세계 맥주, 증류주, 와인, 알코올의 소비에 대한 (df2) '중앙값'만 구해봅니다.
df2.median()

맥주     76.0
증류주    56.0
와인      8.0
알코올     4.2
dtype: float64

In [49]:
# [2-17] 전세계 맥주, 증류주, 와인, 알코올의 소비에 대한 '최대값'만 구해봅니다.
df2.max()

맥주     376.0
증류주    438.0
와인     370.0
알코올     14.4
dtype: float64

In [50]:
# [2-18] 전세계 맥주, 증류주, 와인, 알코올의 소비에 대한 '최소값'만 구해봅니다.
df2.min()

맥주     0.0
증류주    0.0
와인     0.0
알코올    0.0
dtype: float64

In [52]:
# [2-19] 전세계 맥주, 증류주, 와인, 알코올의 소비에 대한 (df2) Q1, Q2, Q3를 구해봅니다.
df2.quantile([0.25,0.5,0.75])

         맥주    증류주    와인  알코올
0.25   20.0    4.0   1.0  1.3
0.50   76.0   56.0   8.0  4.2
0.75  188.0  128.0  59.0  7.2

In [55]:
# 표준편차(std), 분산(var)에 대해서도 작업해 보세요 ^_^!!!  
print(df2.std())
print(df2.var())

맥주     101.143103
증류주     88.284312
와인      79.697598
알코올      3.773298
dtype: float64
맥주     10229.927191
증류주     7794.119765
와인      6351.707200
알코올       14.237779
dtype: float64

In [59]:
# [2-20] df (object dtype이 존재함) 에 대해서 컬럼별 min을 구해 봅니다.
# dtype이 object인 컬럼의 min은 오름차순 정렬시 가장 앞에 있는 것
# dtype이 object인 컬럼의 max는 오름차순 정렬시 가장 뒤에 있는 것
# 문자열 정렬시에는 문자의 코드값을 사용함 : ord(문자)

df.min()

국가     Afghanistan
맥주               0
증류주              0
와인               0
알코올            0.0
대륙              AF
dtype: object

각 컬럼 별 함수 적용
- DataFrame.apply(함수) : Series로 결과가 반환됨
- DataFrame.apply([함수1, 함수2, ...]) : DataFrame으로 결과가 반환됨
- 사용자 정의 함수, 외부 함수, 내장 함수 등 다양한 함수를 사용할 수 있음
- Series의 통계 함수들은 문자열 형태로 사용할 수 있음 : 'min', 'max', 'count', 'std', 'var', 'mean', 'median'

In [62]:
# [2-21] df2의 각 컬럼별 평균을 구해 봅니다.
df2.apply('mean')

맥주     106.160622
증류주     80.994819
와인      49.450777
알코올      4.717098
dtype: float64

In [65]:
# [2-22] df2의 최소, 최대, 평균값을 구해봅니다.
df2.apply(['min','max', 'mean'])

              맥주         증류주          와인        알코올
min     0.000000    0.000000    0.000000   0.000000
max   376.000000  438.000000  370.000000  14.400000
mean  106.160622   80.994819   49.450777   4.717098

### 3-4. 주류 소비량 비교

In [18]:
# pandas의 max_rows, max_columns 설정
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 10)
# https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html

Series의 연산
- Series 끼리 또는 Series와 스칼라는 다양한 연산을 할 수 있음
- index에 맞춰 element wise 연산됨
   - 산술연산(수치): +, -, *, /, //, %  
   - 비교연산(True/False): >, <, >=, <=, ==, !=  
   - True/False의 관계연산(True/False): &, |, ~

In [66]:
# [2-23] df를 사용해 와인 소비량이 맥주 + 증류주 소비량보다 큰 나라를 검색해,'대륙'을 기준으로 정렬해 보자
df[df['와인']>df['맥주']+df['증류주']].sort_values('대륙')

                      국가   맥주  증류주   와인   알코올  대륙
55     Equatorial Guinea   92    0  233   5.8  AF
148  Sao Tome & Principe   56   38  140   4.2  AF
92                  Laos   62    0  123   6.2  AS
171          Timor-Leste    1    1    4   0.1  AS
61                France  127  151  370  11.8  EU
83                 Italy   85   42  237   6.5  EU
136             Portugal  194   67  339  11.0  EU
6              Argentina  193   25  221   8.3  SA
185              Uruguay  115   35  220   6.6  SA

In [68]:
# [2-24] 맥주 소비량이 230 초과이면서, 와인 소비량이 230 초과인 나라를 검색해 보자
cond1 = df['맥주']>230  # 맥주 소비량이 230 초과
cond2 = df['와인']>230  # 와인 소비량의 230 초과
df[cond1 & cond2]

             국가   맥주  증류주   와인   알코올  대륙
3       Andorra  245  138  312  12.4  EU
99   Luxembourg  236  133  271  11.4  EU
156    Slovenia  270   51  276  10.6  EU

In [71]:
# [2-25] 대륙이 'AS'인 국가 중 와인 소비량이 50 이상인 국가의 '국가', '와인' 정보
cond1 = df['대륙']=='AS'  # 대륙이 'AS'인
cond2 = df['와인']>=50  # 와인 소비량이 50 이상인
df.loc[cond1 & cond2, ['국가', '와인']]

                     국가   와인
92                 Laos  123
141  Russian Federation   73

DataFrame에 새로운 컬럼 추가
- DataFrame[컬럼명] = 데이터목록
- 컬럼명은 기존 DataFrame에 존재하지 않는 이름이어야 함
- 데이터목록은 DataFrame의 다른 컬럼들과 같은 개수이어야 하며 list, Series 등의 형태일 수 있음

In [72]:
# [2-26] 국가별 주류 소비량 합계를 구해 새로운 컬럼 ('주류소비량')를 추가합니다
# 주류소비량 = '맥주' + '증류주' + '와인'

# 풀이
df['주류소비량'] = df['맥주'] + df['증류주'] + df['와인']
df.head(3)

            국가  맥주  증류주  와인  알코올  대륙  주류소비량
0  Afghanistan   0    0   0  0.0  AS      0
1      Albania  89  132  54  4.9  EU    275
2      Algeria  25    0  14  0.7  AF     39

In [74]:
# [2-27] 주류소비량2 = ['맥주', '증류주', '와인']에 대해 DataFrame.sum(axis=1) 함수 사용
df['주류소비량2'] = df[['맥주', '증류주', '와인']].sum(axis=1)
df.head(3)

            국가  맥주  증류주  와인  알코올  대륙  주류소비량  주류소비량2
0  Afghanistan   0    0   0  0.0  AS      0       0
1      Albania  89  132  54  4.9  EU    275     275
2      Algeria  25    0  14  0.7  AF     39      39

In [75]:
# [2-28] 주류 소비량 대비 알코올 소비량 비율을 구해 새로운 컬럼 ('알코올비율')을 추가합니다.
# 알코올비율 = '알코올' / '주류소비량'
df['알코올비율'] = df['알코올']/df['주류소비량']
df.head(3)

            국가  맥주  증류주  와인  알코올  대륙  주류소비량  주류소비량2     알코올비율
0  Afghanistan   0    0   0  0.0  AS      0       0       NaN
1      Albania  89  132  54  4.9  EU    275     275  0.017818
2      Algeria  25    0  14  0.7  AF     39      39  0.017949

In [79]:
# [2-29] 알코올비율이 높은 국가 TOP5의 ['국가', '주류소비량', '알코올비율'] 정보를 구해 봅니다.
# HINT) sort_values, indexing 사용
df[['국가', '주류소비량','알코올비율']].sort_values(by="알코올비율", ascending=False).head(5)

               국가  주류소비량     알코올비율
63         Gambia      9  0.266667
153  Sierra Leone     30  0.223333
124       Nigeria     49  0.185714
179        Uganda     54  0.153704
142        Rwanda     45  0.151111

In [80]:
# [2-31] '알코올비율'이 NaN인 것에 대해 0으로 채우기 합니다.
df['알코올비율'] = df['알코올비율']. fillna(0)

원하는 컬럼만 추출하기
- DataFrame.loc[:, 시작컬럼명:끝컬럼명]
- DataFrame.iloc[:, 시작컬럼번호:끝컬럼번호+1]
   - 특정 번호부터 끝까지 모든 컬럼을 대상으로 하며면 끝컬럼번호+1 정보를 생략함

In [83]:
# [2-37] indexing을 사용하여 'South Korea' 정보를 가져오기 합니다. (DataFrame.loc[])
df.loc[df['국가']=='South Korea']

              국가   맥주  증류주  와인  알코올  대륙  주류소비량  주류소비량2     알코올비율
138  South Korea  140   16   9  9.8  AS    165     165  0.059394

### 3-5. 맥주 소비량

In [84]:
# [2-47] 주류소비량이 있으면서, 맥주를 소비하지 않는 나라의 '국가'~ '대륙' 정보를 구해 봅니다.
# indexing 사용
cond1 = df['주류소비량']>0  # 주류소비량이 있으면서
cond2 = df['맥주'] ==0  # 맥주를 소비하지 않는 
df.loc[cond1 & cond2, '국가':'대륙' ]

               국가  맥주  증류주  와인  알코올  대륙
40   Cook Islands   0  254  74  5.9  OC
149  Saudi Arabia   0    5   0  0.1  AS

In [86]:
# [2-50] 맥주 소비량의 값이 큰 5개 국가에 대한 정보를 알아봅시다
df.sort_values(by="맥주", ascending=False).head(5)

                 국가   맥주  증류주   와인   알코올  대륙  주류소비량  주류소비량2     알코올비율
117         Namibia  376    3    1   6.8  AF    380     380  0.017895
45   Czech Republic  361  170  134  11.8  EU    665     665  0.017744
62            Gabon  347   98   59   8.9  AF    504     504  0.017659
65          Germany  346  117  175  11.3  EU    638     638  0.017712
98        Lithuania  343  244   56  12.9  EU    643     643  0.020062

In [92]:
# [2-51] 맥주 소비량이 세계 평균 소비량보다 큰 국가의 개수는?
len(df[df['맥주']>df['맥주'].mean()])

76