# Pandas

In [69]:
import pandas as pd
import numpy as np

## 1. 생성
### 1.1 Series 생성 : pandas.Series(data=None, index=None, dtype=None)

In [70]:
# Series는 1차원이므로 ([  ]) ← 이런 식으로 List 하나만 넣으면 됨
# Series 생성 시 index 매개 변수에 List를 사용하서 이름 지정 가능
# Index 별도 지정 안하면 자동으로 RangeIndex(start=0, stop=개수, step=1)
# 다양한 Type의 data를 섞은 경우, 범위가 더 큰 type으로 저장되거나 str이 포함되면 object type 생성

s = pd.Series([3,-5,7,4], index=[list('abcd')])
s = pd.Series([3,-5,7,4], index=['a','b','c','d'])
display(s)

a    3
b   -5
c    7
d    4
dtype: int64

### 1.2 DataFrame 생성
- pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=None)

In [71]:
# DataFrame은 2차원이므로 ([  ], [  ]) ← 기본적으로 이렇게 List 두개 넣으면 됨
# index, columns를 사용해서 이름 직접 지정 가능

np.random.seed(10)
df = pd.DataFrame(np.random.randint(10,100,16).reshape(4,4), index=list('abcd'),columns = ['x1', 'x2', 'x3', 'y'])
df

   x1  x2  x3   y
a  19  25  74  38
b  99  39  18  83
c  10  50  46  26
d  21  64  98  72

In [72]:
# dict를 사용해서 DataFrame 만들기
# dict의 key가 columns의 label로 사용

df = pd.DataFrame({'A': [1,2,3], 'B': [4,5,6], 'C': [7,8,9]})
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

## 2. Input/Output

### 2.1 CSV 파일

Read: 경로 작성 시 . 하나는 현재 위치를 가리키고, .. 두 개는 상위 폴더를 가리킨다.

Write: DataFrame.to_csv(path_or_buf=None, sep=',' , na_rep='', ncolumns=None, index=True)

In [ ]:
df= pd.read_csv('../data/01. CCTV_in_Seoul.csv') #읽기

df.to_csv('data_1.csv') #쓰기(Index 포함)
df.to_csv('data_1.csv', index=False) #쓰기(Index 제외)

### 2.2 Excel 파일

Write: DataFrame.to_excel(excel_writer, sheet_name='Sheet1', na_rep='', columns=None, index=True)

In [ ]:
df= pd.read_excel('file.xlsx', sheet_name=None) #읽기(sheet_name이 None 이면 모든 Sheet)

df.to_excel('data_1.xlsx') #쓰기(Index 포함)
df.to_excel('data_1.xlsx', index=False) #쓰기(Index 제외)
df.to_excel('data_1.xlsx', sheet_name='SHEET1') #쓰기(SHEET 이름 지정)

## 3. DataFrame 구조 및 속성

### 3.1 자료 구조 관련 함수 공동 Rule
- Python에서 속성에 관한 것은 괄호 없이 사용

### 3.2 자료 구조 함수
  - df.ndim : 데이터의 차원
  - df.shape : (Row 개수, Col 개수)
  - df.values : DataFrame의 값을 Array 형식으로 반환
  - df.index : DataFrame의 모든 행 이름 반환
  - df.columns : DataFrame의 모든 열 이름 반환
  - df.dtypes : 모든 컬럼에 대한 data type 반환 (dtype은 틀린 문법)

※ 예외적으로 괄호를 사용하는 함수
- len(df) : DataFrame의 열 개수 반환

In [205]:
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [225]:
df.ndim

2

In [224]:
df.shape

(3, 3)

In [226]:
df.values

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]], dtype=int64)

In [227]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [228]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [229]:
df.dtypes

A    int64
B    int64
C    int64
dtype: object

In [230]:
len(df)

3

### 3.3 특정 Row 및 Column에 대한 속성 구하기 ([ ] 위치 유의)
- df[ ].values : 특정 Column(열)에 대한 values를 array 형태로 추출, 주로 1차원인 Series에서 사용
- df.index[  ]: 특정 Index에 대한 이름을 보고 싶으면 [ ] 안에 integer를 넣음
- df.columns[  ]: 특정 Column에 대한 이름을 보고 싶으면 [ ] 안에 integer를 넣음

In [202]:
print(df['A'].values) # 첫번째 Column에 대한 값 출력
print(df.index[1]) # 첫번째 index명 출력
print(df.columns[-1])  # 마지막 column명 출력

[1 2 3]
1
C

## 4. Index/Column 속성 변경

### 4.1 Index/Column명 변경 함수
방법 1) Index, Columns 함수 사용
  - 수정하고자 하는 Index/Column 개수와 대입하는 Data 개수가 동일해야하며 모든 값을 한 번에 변경해야 함
  - 원본 객체를 직접 수정하므로 반환하지 않아도 원본이 변경됨

In [210]:
df2=df.copy()

df2.index = ['a', 'b', 'c']
df2.columns = ['D','E','F']

df2

   D  E  F
a  1  4  7
b  2  5  8
c  3  6  9

방법 2) Rename 함수 사용
- 행 인덱스 변경 : DataFrame 객체.rename(index={기존 인덱스:새 인덱스, ...}) - dict 형태
- 열 이름 변경 : DataFrame 객체.rename(columns={기존 이름:새 이름, ...}) - dict 형태
- 단, 원본 객체를 직접 수정하는 것이 아니라 새로운 데이터프레임 객체를 반환하는 점에 유의한다. 
- 원본 객체를 변경하려면 inplace=True 옵션을 사용한다.

In [211]:
#원본 객체 수정 안됨(inplace=False)
df2.rename(columns={'D':'A','E':'B','F':'C'})
display(df2) 

#원본 객체 수정(inplace=True)
df2.rename(columns={'D':'A','E':'B','F':'C'}, inplace=True)
display(df2)

   D  E  F
a  1  4  7
b  2  5  8
c  3  6  9

   A  B  C
a  1  4  7
b  2  5  8
c  3  6  9

### 4.2 Index/Column Data Type 변경 함수
- astype(str or dict) 
  - 전체 Column 변경할 때는 str, 특정 Column만 변경할 때는 dict 형태로 입력
  - 이 때 str으로 넣을 때 '' 안에 넣거나 ' '을 안 쓰고 싶으면 np. 활용(np.int32, np.float64 등등)

In [251]:
df.astype('float')

     A    B    C
0  1.0  4.0  7.0
1  2.0  5.0  8.0
2  3.0  6.0  9.0

In [255]:
df.astype(np.float64)

     A    B    C
0  1.0  4.0  7.0
1  2.0  5.0  8.0
2  3.0  6.0  9.0

## 5. 데이터 빈도 조회 및 데이터 정렬

### 5.1 데이터 빈도수/정렬 공동 Rule
- axis
  - axis = 0(Default) : 행과 행 사이에 대해 연산(=column)
  - axis = 1 : 열과 열 사이에 대핸 연산(=row)
- sort
  - sort = True(Default) : 결과 정렬
  - sort = False : 결과 정렬
- ascending
  - ascending = False(Default) : 내림차순
  - ascending = True : 오름차순
- normalize
  - normalize = False(Default) : 비율로 표현 X
  - normalize = True : 비율로 표현
- dropna
  - dropna = True(Default) : NaN 제외
  - dropna = False : Nan 포함

In [212]:
df3=pd.read_csv('../정리/tips.csv')
df3.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

### 5.2 데이터 빈도수 조회 함수
Series 형태와 쓰이는 것
- df[ ].uniuqe() : 해당 Column의 Uniuqe 한 값들을 Array 형태로 반환(반드시 Series 형태와 써야하며 괄호 안에 아무 것도 안 들어감)
- df[ ].value_counts(normalize=False, sort=True, ascending=False, dropna=True) : 해당 Column의 Unique한 값들의 개수

Series 형태로 쓰이지 않아도 되는 것
- df.nunique(axis=0, dropna=True) : 각 Column의 Unique 한 값의 개수를 계산

In [236]:
df3['day'].unique()

array(['Sun', 'Sat', 'Thur', 'Fri'], dtype=object)

In [246]:
df3['day'].value_counts(normalize=True) #백분율 형태로 표현

Sat     0.356557
Sun     0.311475
Thur    0.254098
Fri     0.077869
Name: day, dtype: float64

In [231]:
df3.nunique()

total_bill    229
tip           123
sex             2
smoker          2
day             4
time            2
size            6
dtype: int64

### 5.3 데이터 정렬 함수
Series 형태와 쓰이는 것
- df.sort_index(*, axis=0, ascending=True, inplace=False) : Index 기준으로 값 정렬, value_counts()를 통해 빈도를 구한 뒤 정렬할 때 쓰임

Series 형태로 쓰이지 않아도 되는 것
- df.sort_values(by, axis=0, ascending=True, inplace=False) : Values 기준으로 값 정렬, by에서 어떤 컬럼을 기준으로 정렬할지 정의 필요

In [244]:
df3['day'].value_counts().sort_index(ascending=False)  #value_counts 이후에 주로 쓰임

Thur    62
Sun     76
Sat     87
Fri     19
Name: day, dtype: int64

In [216]:
df3.sort_values(by=['size','tip'], ascending=[True,False]) #먼저 size는 오름차순, 그 다음에 tip에서 내림차순 정렬

     total_bill   tip     sex smoker   day    time  size
222        8.58  1.92    Male    Yes   Fri   Lunch     1
82        10.07  1.83  Female     No  Thur   Lunch     1
67         3.07  1.00  Female    Yes   Sat  Dinner     1
111        7.25  1.00  Female     No   Sat  Dinner     1
88        24.71  5.85    Male     No  Thur   Lunch     2
..          ...   ...     ...    ...   ...     ...   ...
187       30.46  2.00    Male    Yes   Sun  Dinner     5
141       34.30  6.70    Male     No  Thur   Lunch     6
143       27.05  5.00  Female     No  Thur   Lunch     6
156       48.17  5.00    Male     No   Sun  Dinner     6
125       29.80  4.20  Female     No  Thur   Lunch     6

[244 rows x 7 columns]

## 6. 데이터 값 확인 및 요약

### 6.1 요약 함수 공동 Rule
- DataFrame 속성에 관한 것이 아닌 DataFrame을 요약한 것이므로 괄호 사용

### 6.2 요약 함수
- df.head(n), df.tail(n) : DataFrame의 처음 또는 끝 행 출력(Default: n=5)
- df.info() : DataFrame에 대한 정보 확인(row 개수, column의 type, 메모리 사용량)
- df.count() : 각 Column 별 Data 개수 (NaN 값 제외)
- df.describe() : DataFrame에 대한 통계값 확인 - 숫자형 Column에 대해
- df.describe(include='O') : DataFrame에 대한 통계값 확인 - 범주형 Column에 대해

In [245]:
df3=pd.read_csv('../정리/tips.csv')
df3.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [138]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

In [147]:
print(df3.count()) #전체 Column에 대한 Data 개수
df3['tip'].count() #특정 Column에 대한 Data 개수

total_bill    244
tip           244
sex           244
smoker        244
day           244
time          244
size          244
dtype: int64

244

In [139]:
df3.describe() #숫자형 Column에 대해

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [150]:
df3.describe(include='O') #범주형 Column에 대해

         sex smoker  day    time
count    244    244  244     244
unique     2      2    4       2
top     Male     No  Sat  Dinner
freq     157    151   87     176

### 6.3 통계 함수 공동 Rule
- DataFrame 속성에 관한 것이 아닌 DataFrame을 요약한 것이므로 괄호 사용
- axis
  - axis = 0(Default) : 행과 행 사이에 대해 연산(=column)
  - axis = 1 : 열과 열 사이에 대핸 연산(=row)
- skipna
  - skipna = True(Default)  : NaN 값을 제외하고 계산
  - skipna = False : NaN 값이 있으면 NaN값으로 출력
- numeric_only
  - numeric_only = False(Default)  : NaN 값이 있으면 오류 (Pandas v1.5 이전에는 numeric_only=None이 Default)
  - numeric_only = True : float, int, boolean column에 대해서만 계산

### 6.4 통계 함수
- df.sum(axis=0, skipna=True, numeric_only=False, min_count=0, **kwargs)
- df.mean(axis=_NoDefault.no_default, skipna=True, numeric_only=False, **kwargs)
- df.min(), df.max()
- df.median()
- df.var()
- df.std()
- df.quantile([0.25, 0.5, 0.75])

In [162]:
# 문자열 Column은 모든 데이터가 붙어서 출력
display(df3.sum(numeric_only=False))
display(df3.sum(numeric_only=True))

total_bill                                              4827.77
tip                                                      731.58
sex           FemaleMaleMaleMaleFemaleMaleMaleMaleMaleMaleMa...
smoker        NoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNo...
day           SunSunSunSunSunSunSunSunSunSunSunSunSunSunSunS...
time          DinnerDinnerDinnerDinnerDinnerDinnerDinnerDinn...
size                                                        627
dtype: object

total_bill    4827.77
tip            731.58
size           627.00
dtype: float64

In [260]:
print(df3.mean(numeric_only=True), '\n')
print(df3.median(numeric_only=True), '\n')
print(df3.var(numeric_only=True), '\n')
print(df3.std(numeric_only=True), '\n')
print(df3.median(numeric_only=True), '\n')
print(df3.quantile([0.25, 0.5, 0.75],numeric_only=True))

total_bill    19.785943
tip            2.998279
size           2.569672
dtype: float64

total_bill    17.795
tip            2.900
size           2.000
dtype: float64

total_bill    79.252939
tip            1.914455
size           0.904591
dtype: float64

total_bill    8.902412
tip           1.383638
size          0.951100
dtype: float64

total_bill    17.795
tip            2.900
size           2.000
dtype: float64

      total_bill     tip  size
0.25     13.3475  2.0000   2.0
0.50     17.7950  2.9000   2.0
0.75     24.1275  3.5625   3.0

## 7. Indexing & Slicing

## 8. DataFrame 내부 Data 수정