## * print

In [1]:
name = '홍길동'
age = 35
grade = 9.2345
print('이름은 %s, 나이는 %d, 평점은 %.3f 입니다.' %(name, age, grade))
print('이름은 {}, 나이는 {}, 평점은 {:.1f} 입니다.'.format(name, age, grade))

이름은 홍길동, 나이는 35, 평점은 9.235 입니다.
이름은 홍길동, 나이는 35, 평점은 9.2 입니다.

### * 문자열 split(분할), join(결합), sep

In [2]:
data = 'NAND,50,3,123,SKHynix'

# 문자열 분할하기
result = data.split(',')
print(result)

['NAND', '50', '3', '123', 'SKHynix']

In [3]:
# 문자열 결합하기
result1 = ":".join(result)
print(result1)

NAND:50:3:123:SKHynix

### * List 사용법

In [4]:
myL = [3, 2, 1, 10]
print(myL)

[3, 2, 1, 10]

In [5]:
myL.append(7)
print(myL)

[3, 2, 1, 10, 7]

In [6]:
myL.insert(3, 100) # 3번째 위치에 100을 집어넣는다.
print(myL)

[3, 2, 1, 100, 10, 7]

In [7]:
myL.remove(7)
print(myL)

[3, 2, 1, 100, 10]

In [8]:
print(myL.pop())
print(myL)

10
[3, 2, 1, 100]

#### list sorting

In [9]:
myL.sort()
print(myL)

[1, 2, 3, 100]

In [10]:
myL.sort(reverse=True)
print(myL)

[100, 3, 2, 1]

In [11]:
del myL[1] # del은 list 외에도 다른 메모리에 할당된 변수들을 제거할 수 아ㅣㅆ다.
print(myL)

[100, 2, 1]

In [12]:
del myL
# print(myL)
# 오류 발생한다.

#### list sep

In [4]:
List2 = ['Python', 'is', 'very', 'interesting']
sep = ' '
result2 = sep.join(List2)
print(result2)
print(type(result2))

Python is very interesting
<class 'str'>

### * dir()

In [14]:
myL = []
dir(myL)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

### * if문

In [15]:
score = 73
if score >= 90:
    print('A')
elif score >= 80:
    print('B')
else:
    print('C')

C

### * %whos - 메모리에 할당된 전역변수 확인하기

In [16]:
%whos

Variable   Type     Data/Info
-----------------------------
List2      list     n=4
age        int      35
data       str      NAND,50,3,123,SKHynix
grade      float    9.2345
myL        list     n=0
name       str      홍길동
result     list     n=5
result1    str      NAND:50:3:123:SKHynix
result2    str      PYthon is too interesting
score      int      73
sep        str

### * Tuple

In [17]:
aaL = [4, 1, 2, 3, 10,11] # list
aaT = 4, 1, 2, 3, 10, 11 # tuple
print(aaL, type(aaL))
print(aaT, type(aaT))

[4, 1, 2, 3, 10, 11] <class 'list'>
(4, 1, 2, 3, 10, 11) <class 'tuple'>

In [18]:
t = 1, 2, 3
print(t)
t1 = 1, # tuple
t2 = 1 # int
print(type(t1))
print(type(t2))

(1, 2, 3)
<class 'tuple'>
<class 'int'>

In [19]:
import sys
print(sys.getsizeof(aaL))
print(sys.getsizeof(aaT))

104
88

### * 딕셔너리 생성, 조회, 수정, 추가

In [20]:
# 생성법 1(기본 형식)
myDict = {'name' : 'DRAM', 'capa': 1000, 'price': 4.123, 'maker': 'SK-Hynix'}
# 생성법 2(dict)
testDict = dict(name = '홍길동', age = 35, address = '서울', hobby=['축구', '배구', '골프'])

#get으로 조회 시 실패하면 'None'을 return한다.(False가 아님)
print(myDict.get('name1')) # name1은 없다. 조회 실패임.

None

In [21]:
# 생성법 3(zip 함수)
nameL=['NAND', 'NAND1','DRAM1']
valueL = [3.12, 4.23, 5.12]
res = list(zip(nameL, valueL))
res1 = dict(zip(nameL, valueL)) # zip을 활용하여 dictionary를 쉽게 만들 수 있다.
print(res1)

{'NAND': 3.12, 'NAND1': 4.23, 'DRAM1': 5.12}

#### 딕셔너리 update

In [22]:

# update 함수를 이용하면 딕셔너리를 합칠 수 있다.
myDict.update(testDict)
myDict
# 'key'값이 같을 경우에는 overwrite가 된다. key값은 고유한 값으로 가져와야 한다.

{'name': '홍길동',
 'capa': 1000,
 'price': 4.123,
 'maker': 'SK-Hynix',
 'age': 35,
 'address': '서울',
 'hobby': ['축구', '배구', '골프']}

#### keys, values, items 조회

In [23]:
print(myDict.keys())
print(myDict.values())
print(myDict.items())

dict_keys(['name', 'capa', 'price', 'maker', 'age', 'address', 'hobby'])
dict_values(['홍길동', 1000, 4.123, 'SK-Hynix', 35, '서울', ['축구', '배구', '골프']])
dict_items([('name', '홍길동'), ('capa', 1000), ('price', 4.123), ('maker', 'SK-Hynix'), ('age', 35), ('address', '서울'), ('hobby', ['축구', '배구', '골프'])])

#### enumerate

In [24]:
for index, value in enumerate(myDict):
    print(index, value)

0 name
1 capa
2 price
3 maker
4 age
5 address
6 hobby

#### 값 수정, 추가

In [25]:
# 값 수정
myDict['name'] = 'NAND' # name은 원래 있는 key값
# 값 추가
myDict['name1'] = 'DRAM' # name1은 원래 없던 key값

### * lambda 함수

In [26]:
(lambda a,b: a+b)(3,4)

7

### * map 함수

In [27]:
# map 함수
testL = ['3', '2', '10', '5']
result = list(map(int, testL))
# map의 return type은 map이기 떄문에 list, tuple 등 원하는 자료형으로 바꿔줘야 한다.
print(result)

[3, 2, 10, 5]

#### map 함수 + lambda 함수

In [28]:
testL = ['3', '2', '10', '5']

result1 = list(map(lambda x: int(x), testL))
print(result1)

[3, 2, 10, 5]