In [70]:
import pandas as pd
import numpy as np

In [71]:
# [1] 파일을 읽어와 맨 처음 3개 행을 가져오기
df = pd.read_excel('data_2.xlsx')
A = df.head(3)
A

   A  B  C  D
0  A  3  1  X
1  A  1  2  X
2  A  0  5  Y

In [72]:
# [2] head, tail -> Series, DataFrame의 맨 처음부터 n개, 맨 마지막 n개 가져오기
# head/tail의 경우 아무것도 안 쓰면 default 값이 n=5

display(df.head(3))
display(df.head())
display(df.tail(1))

   A  B  C  D
0  A  3  1  X
1  A  1  2  X
2  A  0  5  Y

   A  B  C  D
0  A  3  1  X
1  A  1  2  X
2  A  0  5  Y
3  B  1  6  X
4  B  7  2  Y

   A  B  C  D
8  C  3  2  X

### 1. Series, DataFrame의 속성(attribute)

In [73]:
s=df['A']
# 차원
df.ndim, s.ndim  #DataFrame은 2차원, Series는 1차원

(2, 1)

In [74]:
# 각 axis(차원)의 크기(index(행), columns(열)의 개수)
df.shape, s.shape

((9, 4), (9,))

In [75]:
#값
df.values, s.values

(array([['A', 3, 1, 'X'],
        ['A', 1, 2, 'X'],
        ['A', 0, 5, 'Y'],
        ['B', 1, 6, 'X'],
        ['B', 7, 2, 'Y'],
        ['B', 3, 3, 'X'],
        ['C', 2, 4, 'X'],
        ['C', 1, 1, 'Y'],
        ['C', 3, 2, 'X']], dtype=object),
 array(['A', 'A', 'A', 'B', 'B', 'B', 'C', 'C', 'C'], dtype=object))

In [76]:
# index, columns
# = assignment에 의해 수정될 수 있음

display(df.index, df.columns, s.index)

RangeIndex(start=0, stop=9, step=1)

Index(['A', 'B', 'C', 'D'], dtype='object')

RangeIndex(start=0, stop=9, step=1)

In [77]:
# 전치행렬
df.T

   0  1  2  3  4  5  6  7  8
A  A  A  A  B  B  B  C  C  C
B  3  1  0  1  7  3  2  1  3
C  1  2  5  6  2  3  4  1  2
D  X  X  Y  X  Y  X  X  Y  X

In [78]:
#dtype 확인
# DataFrame과 Series에 따라서 "type" 뒤에 "s" 붙고 안 붙고가 정해짐
df.dtypes, s.dtype

(A    object
 B     int64
 C     int64
 D    object
 dtype: object,
 dtype('O'))

### 2. Pandas Operation
- index, columns에 대한 element-wise
- Series, DataFrame + Scalar - Broadcasting 후 element-wise

In [79]:
x1 = pd.Series([1, 2, 3, 4], index=[0, 1, 2, 3])
y1 = pd.Series([5, 6, 7, 8], index=[3, 2, 1, 0])
display(x1, y1)
x1+y1

0    1
1    2
2    3
3    4
dtype: int64

3    5
2    6
1    7
0    8
dtype: int64

0    9
1    9
2    9
3    9
dtype: int64

In [80]:
x1 = pd.Series([1, 2, 3, 4], index=[0, 1, 2, 3])
y1 = pd.Series([5, 6, 7, 8], index=[3, 2, 1, 4]) #x1 index 중에 4가 없으므로 NaN 반환
x1+y1

0    NaN
1    9.0
2    9.0
3    9.0
4    NaN
dtype: float64

In [81]:
x1 = pd.DataFrame([[1, 2], [3, 4]])
y1 = pd.DataFrame([[5, 6], [7, 8]])
display(x1, y1)
display(x1+y1)
display(x1+3)

   0  1
0  1  2
1  3  4

   0  1
0  5  6
1  7  8

    0   1
0   6   8
1  10  12

   0  1
0  4  5
1  6  7

In [82]:
x1 = pd.DataFrame([[1, 2], [3, 4]], index=['A','B']) #B에 index A,B가 없기 때문에 NaN
y1 = pd.DataFrame([[5, 6], [7, 8]])

display(x1+y1)
display(x1+3)

    0   1
A NaN NaN
B NaN NaN
0 NaN NaN
1 NaN NaN

   0  1
A  4  5
B  6  7

### 3. Pandas Selection - Indexing & Slicing

-------------------------------------------------------------------------------------------------
### [1] Series의 index의 dtype이 integer인 경우,

In [83]:
s1 = pd.Series([1,2,3,4,5], index=[1,2,3,4,5])
s1

1    1
2    2
3    3
4    4
5    5
dtype: int64

In [84]:
# single element indexer - 차원 감소(Scalar)
# Label(눈에 보이는 index의 이름) 사용
# Integer Index를 사용하려면 0이나 음수는 사용 못하는 등 제한이 많으므로 그냥 Label 쓰자
s1[1], s1.loc[4]

(1, 4)

-----------------------------------------------------------------------------------------------
### [2] Series의 index의 dtype이 integer가 아닌 경우

In [85]:
# .iloc[]  => integer index 사용
s1.iloc[0], s1.iloc[-1]

(1, 5)

In [86]:
# index array indexer - 차원 유지(index와 value 유지)
# Label 사용 (integer index 아님!)
display(s1[[1,2,4]])
display(s1[[3]])  #이런 식으로 숫자 하나만 넣어도 차원 유지하고 싶으면 [[  ]] 이렇게 하면 됨
s1.loc[[1,2]] #label index 사용

1    1
2    2
4    4
dtype: int64

3    3
dtype: int64

1    1
2    2
dtype: int64

In [87]:
# boolean array indexer
# 여긴 True/False 문이 사용
display(s1)
display(s1[s1%2==0])
display(s1.loc[s1%2==0])

1    1
2    2
3    3
4    4
5    5
dtype: int64

2    2
4    4
dtype: int64

2    2
4    4
dtype: int64

In [88]:
# slice indexer
# integer index 사용
display(s1[2:-1])  #1.5 버전으로 가면서 s[i]에 slice 사용에 대해서 쓰지 말라는 경고 출력, 그냥 iloc만 사용하자!
display(s1.iloc[2:-1])

C:\Users\Admin\AppData\Local\Temp\ipykernel_3384\3536636601.py:3: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  display(s1[2:-1])  #1.5 버전으로 가면서 s[i]에 slice 사용에 대해서 쓰지 말라는 경고 출력, 그냥 iloc만 사용하자!

3    3
4    4
dtype: int64

3    3
4    4
dtype: int64

In [89]:
# 중요: Local Indexing의 경우, Integer와 다르게 stop을 포함한 값을 반환함!!!!!
# .loc[start:stop] #stop을 포함한다
s1.loc[1:3]

1    1
2    2
3    3
dtype: int64

-----------------------------------------------------------------------------------------------
### [2] Series의 index의 dtype이 integer가 아닌 경우

In [90]:
s2 = pd.Series([1,2,3,4,5], index=list('ABCDE'))
s2

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [91]:
# single element indexer - 차원 감소(Scalar)
s2[4], s2['E']

(5, 5)

In [92]:
# index array indexer - 차원 유지(index와 value 유지)
display(s2[[0,2,4]])
display(s2[['A', 'C', 'E']])

A    1
C    3
E    5
dtype: int64

A    1
C    3
E    5
dtype: int64

In [93]:
# boolean array indexer - 비추 사용하지 않음
s2[(s1%2==0).to_list()]

B    2
D    4
dtype: int64

In [94]:
# slice indexer - 주의
# integer - stop 포함하지 않음
# integer 아닌 경우 - stop 포함
s1[2:4], s2['C':'D']

C:\Users\Admin\AppData\Local\Temp\ipykernel_3384\4235333729.py:4: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  s1[2:4], s2['C':'D']

(3    3
 4    4
 dtype: int64,
 C    3
 D    4
 dtype: int64)

In [95]:
s2 = pd.Series([1,2,3,4,5], index=list('ABCDE'))
s2

A    1
B    2
C    3
D    4
E    5
dtype: int64

-----------------------------------------------------------------------------------------------
### [3] DataFrame의 Indexing

In [96]:
df = pd.DataFrame(np.arange(1, 10).reshape(3, 3), index=list("ABC"), columns=['X1', 'X2', 'X3'])
df

   X1  X2  X3
A   1   2   3
B   4   5   6
C   7   8   9

In [97]:
# Basic Indexing - 1개의 indexer만 사용
df[]

SyntaxError: invalid syntax (470408188.py, line 2)

In [ ]:
# Basic Indexing - single element indexer (columns) - Series 1개로 저장
df['X1']

A    1
B    4
C    7
Name: X1, dtype: int32

In [ ]:
# Basic Indexing - index array indexer(column) - DataFrame 형태로 저장, 위와  차이 주의
df[['X1']]

   X1
A   1
B   4
C   7

In [ ]:
df.shape

(3, 3)

In [ ]:
# Basic Indexing - boolean indexer(row의 index 개수)
# dtype = bool, size가 df.shape[0] (즉, 행의 수)와 같아야함

display(df[[True,False,True]])  #shape이 3개니까 Boolean에 3개가 들어갔음
display(df[df['X1']%2==1]) # A(즉 0)이랑 C(즉 2)에 해당하는 열만 출력
display(df[df['X3']%2==1]) # 이것도 동일한 결과

   X1  X2  X3
A   1   2   3
C   7   8   9

   X1  X2  X3
A   1   2   3
C   7   8   9

   X1  X2  X3
A   1   2   3
C   7   8   9

In [ ]:
# Basic Indexing - slice indexer(row)
df['B':'C']   #이 때 사용하는게 Label 이름으로 Stop에 포함

   X1  X2  X3
B   4   5   6
C   7   8   9

In [ ]:
# Selection by Label - 2개의 indexer 사용 가능
df.loc[]

In [ ]:
# Selection by label - single element
display(df)
df.loc['A','X2']

   X1  X2  X3
A   1   2   3
B   4   5   6
C   7   8   9

2

In [ ]:
# Selection by label - single element
df.loc['A',:]

X1    1
X2    2
X3    3
Name: A, dtype: int32

In [ ]:
# Selection by label - single element
df.loc[:,'X2']

A    2
B    5
C    8
Name: X2, dtype: int32

In [ ]:
# Selection by label - index array
df.loc[['A','C'], ['X1','X2']]

   X1  X2
A   1   2
C   7   8

In [ ]:
# Selection by label - index array
df.loc[['A','C'], :]

   X1  X2  X3
A   1   2   3
C   7   8   9

In [ ]:
# Selection by label - index array
df.loc['A',['X1','X2']]

X1    1
X2    2
Name: A, dtype: int32

In [ ]:
# Selection by label - boolean array indexer
df.loc[[True, True, False], [True, False, True]]

   X1  X3
A   1   3
B   4   6

In [ ]:
# Selection by label - slice indexer
# start:stop:step을 쓸 수 있으며 stop을 포함하여 출력
# 그런데 index가 정수여야지 이런 식으로 쓸 수 있음
df.loc['A':'B','X2':'X3']   #df.loc[['A':'B'],['X2':'X3']] 이런 식으로 묶지 말기

   X2  X3
A   2   3
B   5   6

In [ ]:
# Selection by integer - 2개의 indexer 사용 가능
df.iloc[]

In [ ]:
# Selection by integer - single element indexer
df.iloc[0,2]

3

In [ ]:
# Selection by integer - single element indexer(자주 사용)
display(df)
df.iloc[:,1]

   X1  X2  X3
A   1   2   3
B   4   5   6
C   7   8   9

A    2
B    5
C    8
Name: X2, dtype: int32

In [ ]:
# Selection by integer - index array indexer
display(df)
df.iloc[[0,2],[1,-1]]

   X1  X2  X3
A   1   2   3
B   4   5   6
C   7   8   9

   X2  X3
A   2   3
C   8   9

In [ ]:
# Selection by integer - boolean array indexer - 사용하지 말자
display(df)
df.iloc[[0,2],[1,-1]]

   X1  X2  X3
A   1   2   3
B   4   5   6
C   7   8   9

   X2  X3
A   2   3
C   8   9

In [ ]:
# Selection by integer - slice indexer(자주 사용)
display(df)
df.iloc[:,:-1]

   X1  X2  X3
A   1   2   3
B   4   5   6
C   7   8   9

   X1  X2
A   1   2
B   4   5
C   7   8

In [99]:
# 특정 조건 만족하는 열 추출
df[df['X2']%2==0]

   X1  X2  X3
A   1   2   3
C   7   8   9