In [4]:
import numpy as np 
a = np.array([[1,2,3,4], [5,6,7,8],[9,10,11,12]])
#b = a[:, 1:2]
#b = a[0:3, 1:2]
b = a[:, 1].reshape(3, 1)
b
# 결과 :
# array([[ 2],
#        [ 6],
#        [10]])
# single element index : 차원이 낮아짐
# boolean array : 1차원이 됨
# slice : 차원이 유지됨
# index array(list) : a[[1, 2, 3], [0, 1, 2]] -> 1차원

array([[ 2],
       [ 6],
       [10]])

In [7]:
a = np.arange(12)
#a = a.reshape(3,4)
a = a.reshape((3,4))
#a = np.reshape(a, (3,4))
a.shape
#Out : (3,4)

(3, 4)

In [13]:
myData = [2, 4, 6, 8]
result = list(map(lambda x : x**2, myData))
print(result)

#Out : [4, 16, 36, 64]

[4, 16, 36, 64]

In [1]:
import pandas as pd
df = pd.DataFrame([[1, 2, 3], 
                   [4, 5, 6], 
                   [7, 8, 9]],
                  index=['A', 'B', 'C'], columns=['X1', 'X2', 'X3'])
df

   X1  X2  X3
A   1   2   3
B   4   5   6
C   7   8   9

In [3]:
# Basic Indexing
# indexer : single element indexer, index array indexer, boolean array indexer, slice indexer
# single element indexer, index array indexer => column label  사용
# boolean array indexer, slice indexer => index(row) 과 관련
# boolean array indexer => dtype : bool, len(=size) : df.shape[0]
# slice => index label 사용
A = df['X2']
B = df[['X2', 'X1']]
C1 = df[[True, False, True]]
cond = (df['X1'] % 2 == 0)
C2 = df[cond]
D = df['A':'B']   # start : stop  (stop을 포함)

In [4]:
df['X2'][0] = 100  # 비추
df

   X1   X2  X3
A   1  100   3
B   4    5   6
C   7    8   9

In [6]:
# Selection by Label
# df.loc[row_indexer, column_indexer]
# indexer : single element indexer, index array indexer, boolean array indexer, slice indexer
A = df.loc['A', 'X2']
B = df.loc['B', :]
C = df.loc[['A','B'], ['X1', 'X2']]
D = df.loc['B', 'X1':'X2']
E = df.loc[df['X2'] % 2==0, ['X2', 'X3']]
display(A,B,C,D,E)

100

X1    4
X2    5
X3    6
Name: B, dtype: int64

   X1   X2
A   1  100
B   4    5

X1    4
X2    5
Name: B, dtype: int64

    X2  X3
A  100   3
C    8   9

In [32]:
df

   X1  X2  X3
A   1   2   3
B   4   5   6
C   7   8   9

In [38]:
# Selection by Integer
# df.iloc[row_indexer, column_indexer]
# indexer : single element indexer, index array indexer, boolean array indexer, slice indexer
A = df.iloc[-1, -1]
B = df.iloc[:, :-1]  # 맨 마지막 column 제외하고 가져오기
C = df.iloc[:, -1]   # 맨 마지막 column 만 가져오기
D = df.iloc[1:2, 0:2]   # slice 에서 start:stop (stop을 제외, 거기서 멈춰!)
E = df.iloc[[0, 1], [2, 0]]
F = df.iloc[(df['X2'] % 2==0).to_numpy(), [0, 2]]  # 비추
F

   X1  X3
A   1   3
C   7   9

In [ ]:
df.loc['2020-01-03', 'P03'] = 155
df.loc[df['P03']==-1, ['P03']] = 155
df.loc[df['P03']==-1, 'P03':'P03'] = 155
df.iloc[2, 2] = 155
df.iloc[[2], [2]] = 155
df.iloc[2:3, 2:3] = 155

In [ ]:
df[['name','height']][df['height']>180]

df.loc['b':'c', 'name':'height'] 
df.loc[['b','c'], ['name','height']]
df.loc[['b','c'], 'name':'height']
df.iloc[1:3, 1:3]
df.iloc[[1, 2], [1, 2]]